<h1> FUNCIONOU HANDLEBARS </h1>


<p class="text-white border border-dark rounded font-weight-bold">PING: {{ping}}</p>
      <p class="text-white border border-dark rounded font-weight-bold">UPLOAD: {{upload}}</p>
      <p class="text-white border border-dark rounded font-weight-bold">IP: {{ip}}</p>
      <p class="text-white border border-dark rounded font-weight-bold">Provedor: {{operadora}}</p>


      <form action="/" method="POST"> 
      <button type="submit" class="btn btn-success text-white">PLAY</button>
      
      </form>